/*-------------INDEX----------*/
main{
    .titulo{
        background-image: url(../img/fondo.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
         h2{font-size: 100px;
            color: black;}
         p{ font-size: 30px;
            background-color: black;
            color: rgb(61, 162, 230);
            margin: 20px;
            border-radius: 10px;
            padding: 10px;}
    }
    .quienes-somos{ 
        background-color: rgb(247, 131, 54);
        flex-wrap: wrap;
        div{
            h2{
            background-color: black;
            color: rgb(61, 162, 230);
            text-align: center;
            padding: 10px;}
        }
    }
        
    .nuestra-empresa{
        display: flex;
        .parrafo{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            padding: 15px;
            p{font-size: 20px;}
            p{font-size: 20px;}
            p{font-size: 20px;}
            }
        img{ width: 700px;
            height: 500px;}
        }
    .equipos-nuevos{
        h2{
            background-color: black;
            color: rgb(61, 162, 230);
            text-align: center;}
        div{
            display: flex;
            justify-content: space-around;}
        .img-nuevos{
        width: 100%;
        display: flex;
        justify-content: space-between;
            img{ height: 200px;
                width: 400px;}
            img{ height: 200px;
                width: 400px;}
            img{ height: 200px;
                width: 400px;}
            img{ height: 200px;
                width: 400px;}
        }
        .mas-informacion{
            a{
                margin: 10px;
                font-size: 25px;
                text-decoration: none;
                background-color: rgb(0, 0, 0);
                color: rgb(245, 239, 239);
                border-radius: 10px;
                padding: 5px;
                &hover{
                    color: rgb(61, 162, 230);
                    cursor: pointer;
                    scale: 2;
                }
            }
        }
    }
}
/*--------------SERVICIOS-------------------------*/
.main-servicios{
    .servicios{
        .titulo-servicios{
            background-image: url(../img/fondoservicios.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            height: 400px;
            display: flex;
            justify-content: center;
            align-items: center;
            h1{
                font-size: 100px;
                color: rgb(0, 0, 0);
            }}
        .variedad{
            background-color: rgb(247, 131, 54);
            border: solid black 2px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding: 20px;
            flex-wrap: wrap;
            div{
                background-color: black;
                border: solid rgb(61, 162, 230);
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                h2{color: rgb(61, 162, 230);}
                img{width: 200px;
                    height: 200px;}}
           
        }
        .instalacion{
            h2{
                background-color: black;
                color: rgb(61, 162, 230);
                display: flex;
                justify-content: center;
                padding: 10px;}
        }
        .container-servicio{
            border: solid rgb(61, 162, 230);
            background-color: rgb(247, 131, 54);
            display: flex;
            justify-content: space-between;
            div{ 
                display: flex;
                align-items: center;
                padding: 30px;
                p{
                    font-size: 20px;
                    color: black;
                    padding: 5px;}}
            img{border: solid black 5px;}
            img{border: solid black 5px;}
        }
    }
        .mantenimiento{
            div{ h3{
                background-color: black;
                color: rgb(61, 162, 230);
                display: flex;
                justify-content: center;
                padding: 10px;
                font-size: 23px;}}
            .div-mantenimiento{
                 background-color: rgb(247, 131, 54);
                 border: solid rgb(61, 162, 230);
                 display: flex;
                 flex-direction: row-reverse;
                 justify-content: space-between;
                .p-mantenimiento{ 
                    display: flex;
                    color: black;
                    padding: 30px;
                    flex-wrap: wrap;
                     p{font-size: 20px;
                       padding: 5px;}}
                img{border: solid black 5px;}
                img{border: solid black 5px;}}
        }
        .reparacion{
            div{
                h3{
                    background-color: black;
                    color: rgb(61, 162, 230);
                    display: flex;
                    justify-content: center;
                    padding: 10px;
                    font-size: 23px;
                }
            }
            .container-reparacion{
                background-color: rgb(247, 131, 54);
                border: solid rgb(61, 162, 230);
                display: flex;
                justify-content: space-between;
                div{
                    display: flex;
                    align-items: center;
                    padding: 30px;
                    p{font-size: 20px;
                      padding: 5px;}
                }
                img{ border: solid black 5px;}
                img{ border: solid black 5px;}
            }
        }
    }
/*------------VENTAS----------------------------*/
.main-ventas{
    .ventas{
        background-image: url(../img/fondoventas.jpg);
        height: 500px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        div{
            h1{font-size: 100px;}
        }
    }
    .linea-stanford{
        h2{
            background-color: black;
            color: rgb(61, 162, 230);
            display: flex;
            justify-content: center;
            padding: 10px;
            font-size: 23px;
        }
    }
    .stanford{
        display: flex;
        justify-content: space-around;
        img{}
        img{}
    }
    .productos{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        .cards{
            margin: 10px;
            display: flex;
            justify-content: center;
            text-align: center;
            img{}
            .card-body{
                .card-title{}
                .card-txt{}
                a{}}
            }
        }
 }
 /*------------------TRABAJOS---------------------*/
 main{
    .trabajos{
        div{
            height: 400px;
            background-image: url(../img/fondotrabajos.jpg);
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h1{font-size: 100px}
            p{ background-color: black;
                color: rgb(61, 162, 230);
                margin: 20px 0 0 0;
                padding: 5px;
                font-size: 30px;
                border-radius: 10px;}
        }
    }
    .galeria{
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        background-color: rgb(247, 131, 54);
        div{
            height: 400px;
            img{width: 100%;
                height: 100%;}
        }
        .image{
            img{ grid-column: 2/4;}
        }
    }

 }
 /*---------------CONTACTOS---------------------*/

.main-contactos{
    .titulo-contactos{
        background-color: black;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        h1{color: white;
           font-size: 100px;}
    }
    .form-contactos{
        margin: 0;
        display: flex;
        justify-content: space-around;
        div{
            form{
                .form{
                    margin: 40px 0 30px 0;
                    border: solid black;
                    display: flex;
                    flex-direction: column;
                    padding: 20px;
                    div{height: 60px;
                        display: flex;
                        justify-content: right;
                        align-items: center;
                        margin: 20px;}
                    }
                }
            }
        }
        .img-contactos{
            h2 {margin: 40px 0 0 0;
            font-size: 40px;}
            a{text-decoration: none;
                color: white;
                
                font-size: 30px;
                padding: 10px;
                border-radius: 30px;
                &hover{
                    color: rgb(61, 162, 230);
                    cursor: pointer;
                 } 
            } 
        }
    }